@import "src/theme/global.scss";
.Task {
  padding: 0 10px;
  position: absolute;
  margin: 0 1px;
  height: 100%;
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: grap;

  &__small {
    cursor: pointer;
    &__title {
      overflow: hidden;
      position: relative;
      font-size: 0.7rem;
      height: 1rem;
      white-space: nowrap;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      user-select: none;
    }

    &__description {
      overflow: hidden;
      width: 100%;
      position: relative;
      height: 80%;
      font-size: 0.7rem;
      font-weight: 400;
      text-overflow: ellipsis;
      user-select: none;
    }
  }

  &__modal {
    --ion-background-color: var(--ion-color-step-100);
    --border-radius: 10px;

    &__header {
      &__title {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        padding: 10px;
      }

      &__closeButton {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }

    &__content {
      padding: 10px;

      &__description {
        font-size: 1rem;
        font-weight: 400;
        padding: 10px;
      }
    }
  }
}
